<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Beer</th>
      <th scope="col">Brewery</th>
      <th scope="col">Style</th>
      <th scope="col">ABV</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @beers.each_with_index do |beer, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= beer.name %></td>
        <td><%= beer.brewery.name %></td>
        <td><%= beer.style %></td>
        <td><%= beer.abv %></td>
        <td><%= @ratings[index] %></td>
      </tr>
    <% end %>
  </tbody>
</table>